<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ocl.asmae/family/Family"
			class = "asmae.ocl.family.family.FamilyPackage"
			genModel = "model/generated/Family.genmodel" />
	</extension>
</plugin>
